In [10]:
from openpyxl import Workbook
from random import *
from openpyxl.utils.cell import coordinate_from_string
wb = Workbook()
ws = wb.active

ws.append(["번호","영어","수학"])
for i in range(1,11):
    ws.append([i,randint(0,100),randint(0,100)])

In [20]:
col_range = ws["B:C"] #B~C
for cols in col_range:
    for cell in cols:
        print(cell.value)

wb.save("cell_rangesample.xlsx")

영어
29
16
79
49
89
40
24
13
49
63
수학
9
69
0
1
93
62
23
51
1
37

In [12]:
row_title = ws[1] #印出每行title
for cell in row_title:
    print(cell.value)

번호
영어
수학

In [13]:
#row_range = ws[2:6]
#
#for rows in row_range:
#    for cell in rows:
#        print(cell.value,end=" ")
#    print()

In [19]:
#row_range = ws[2:ws.max_row]
#for rows in row_range:
#    for cell in rows:
#        #print(cell.value,end = " ")
#        #print(cell.coordinate,end = " ") #位置號碼
#        xy = coordinate_from_string(cell.coordinate)
#        #print(xy,end=" ")
#        #print(xy[1],end=" ")
#        #print(xy[0],end= " ")
#    print()

2 A 2 B 2 C
3 A 3 B 3 C
4 A 4 B 4 C
5 A 5 B 5 C
6 A 6 B 6 C
7 A 7 B 7 C
8 A 8 B 8 C
9 A 9 B 9 C
10 A 10 B 10 C
11 A 11 B 11 C

In [21]:
print(tuple(ws.rows))

((<Cell 'Sheet'.A1>, <Cell 'Sheet'.B1>, <Cell 'Sheet'.C1>), (<Cell 'Sheet'.A2>, <Cell 'Sheet'.B2>, <Cell 'Sheet'.C2>), (<Cell 'Sheet'.A3>, <Cell 'Sheet'.B3>, <Cell 'Sheet'.C3>), (<Cell 'Sheet'.A4>, <Cell 'Sheet'.B4>, <Cell 'Sheet'.C4>), (<Cell 'Sheet'.A5>, <Cell 'Sheet'.B5>, <Cell 'Sheet'.C5>), (<Cell 'Sheet'.A6>, <Cell 'Sheet'.B6>, <Cell 'Sheet'.C6>), (<Cell 'Sheet'.A7>, <Cell 'Sheet'.B7>, <Cell 'Sheet'.C7>), (<Cell 'Sheet'.A8>, <Cell 'Sheet'.B8>, <Cell 'Sheet'.C8>), (<Cell 'Sheet'.A9>, <Cell 'Sheet'.B9>, <Cell 'Sheet'.C9>), (<Cell 'Sheet'.A10>, <Cell 'Sheet'.B10>, <Cell 'Sheet'.C10>), (<Cell 'Sheet'.A11>, <Cell 'Sheet'.B11>, <Cell 'Sheet'.C11>))

In [22]:
print(tuple(ws.columns))

((<Cell 'Sheet'.A1>, <Cell 'Sheet'.A2>, <Cell 'Sheet'.A3>, <Cell 'Sheet'.A4>, <Cell 'Sheet'.A5>, <Cell 'Sheet'.A6>, <Cell 'Sheet'.A7>, <Cell 'Sheet'.A8>, <Cell 'Sheet'.A9>, <Cell 'Sheet'.A10>, <Cell 'Sheet'.A11>), (<Cell 'Sheet'.B1>, <Cell 'Sheet'.B2>, <Cell 'Sheet'.B3>, <Cell 'Sheet'.B4>, <Cell 'Sheet'.B5>, <Cell 'Sheet'.B6>, <Cell 'Sheet'.B7>, <Cell 'Sheet'.B8>, <Cell 'Sheet'.B9>, <Cell 'Sheet'.B10>, <Cell 'Sheet'.B11>), (<Cell 'Sheet'.C1>, <Cell 'Sheet'.C2>, <Cell 'Sheet'.C3>, <Cell 'Sheet'.C4>, <Cell 'Sheet'.C5>, <Cell 'Sheet'.C6>, <Cell 'Sheet'.C7>, <Cell 'Sheet'.C8>, <Cell 'Sheet'.C9>, <Cell 'Sheet'.C10>, <Cell 'Sheet'.C11>))

In [25]:
#for rows in tuple(ws.rows):
#    print(rows[1].value,end=" ")

영어 29 16 79 49 89 40 24 13 49 63

In [27]:
#for cols in tuple(ws.columns):
#    print(cols[0].value,end=" ")

번호 영어 수학

In [29]:
#for row in ws.iter_rows():
#    print(row[1].value)

영어
29
16
79
49
89
40
24
13
49
63

In [33]:
for row in ws.iter_rows(min_row=2,max_row=11,min_col=2,max_col=3): #min_row,min_max上到下1~5,min_col,max_col左到右
    print(row[0].value,row[1].value)

29 9
16 69
79 0
49 1
89 93
40 62
24 23
13 51
49 1
63 37

In [30]:
for cols in ws.iter_cols():
    print(cols[0].value,end=" ")

번호 영어 수학

In [ ]:
for cols in ws.iter_cols(min):
    print(cols[0].value,end=" ")